run = "cd src && love ."
compile = "make"
modules = ["lua-5.2", "python-3.12", "nix"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Game"
mode = "sequential"
author = 39733787

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src/"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "love ."

[deployment]
run = ["sh", "-c", "cd src && love ."]
build = ["sh", "-c", "make"]
