run = "cd src && love ."

# entry point at src/main.lua
entrypoint = "src:main.lua"

[nix]
channel = "stable-23_05"

[workflows]

[[workflows.workflow]]
name = "Game"
mode = "sequential"
author = 39733787

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src/"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "love ."
